" Ctrl-J 替换Esc
imap <C-o> <Esc>
map <C-o> <Esc>

" 方向键替换
noremap h i
noremap i k
noremap j h
noremap k j
inoremap <C-j> <left>
inoremap <C-l> <right>
inoremap <C-i> <up>
inoremap <C-k> <down>
map <C-j> <C-w>h
map <C-l> <C-w>l
map <C-i> <C-w>k
map <C-k> <C-w>j
noremap <S-j> <S-h>
noremap <S-h> <S-i>

" 保存&退出
map Q :q<CR>
map S :w<CR>
